*~
*.aux
*.log
*.dvi
/ADS.tex
/rmaa.ins
/source/sample.latex2html-init
/source/ADS.tex
/source/Makefile.BCK
/source/Makefile.tex
/source/adshtml.perl
/source/adshtml.sty
/source/makeads.sh
/source/rmaa.cls
/source/rmaacite.sty
