# Auxiliary files from LaTeX compilation
*.aux
*.log
*.dvi
*.toc
*.glo
*.gls
*.idx
*.ilg
*.ind
*.out
# Files made by compilation in the source folder
/source/sample.latex2html-init
/source/ADS.tex
/source/Makefile.BCK
/source/adshtml.perl
/source/adshtml.sty
/source/makeads.sh
/source/rmaa.cls
/source/rmaacite.sty
/source/rmaa.out
/source/rmaa.pdf
/source/rmxaa.cls
/source/rmxac.cls
# Files made by Emacs editor
/source/auto
/packages/auto
*~
